<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h1>My saved places</h1>

      <div class="bookmark-cards">
        <% @bookmarks.each do |bookmark|  %>
          <div class="bookmark-card border-bottom">
            <a href=<%= flat_path(bookmark.flat)%>><%= cl_image_tag bookmark.flat.photos.first.key, height: 100, width: 100, crop: :fill, class: "bookmark-card-photo" %></a>

            <div class="bookmark-flat-info">
              <div class="bookmark-flat-name-and-heart">
                <strong><%= link_to bookmark.flat.name, flat_path(bookmark.flat) %></strong>
                <%= link_to '<i class="far fa-trash-alt"></i></a>'.html_safe, bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
              <p><%= bookmark.flat.address %></p>
              <div class="bookmark-flat-details">
                <p><i class="fa-solid fa-person"></i> <%= bookmark.flat.number_of_guests %></p>
                <p>$<%= bookmark.flat.price_per_night %>/night</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col"></div>
  </div>

</div>
