<h1>Flat Amenities</h1>

<ol></ol>
  <% @flat_amenities.each do |flat_amenity| %>
    <li>
      <%= Amenity.find(flat_amenity.amenity_id).icon.html_safe %>
      <%= Amenity.find(flat_amenity.amenity_id).name %>
      (<%= Amenity.find(flat_amenity.amenity_id).category %>)
      <%= link_to "(Delete)", flat_amenity_path(flat_amenity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
    </li>
  <% end %>

<%= link_to "Add amenities", new_flat_flat_amenity_path %>
