<h1>Flat Amenities</h1>

<ol></ol>
  <% @flat_amenities.each do |flat_amenity| %>
    <li>
      <%= flat_amenity.amenity.icon.html_safe %>
      <%= flat_amenity.amenity.name %>
      (<%= flat_amenity.amenity.category %>)
      <%= link_to "(Delete)", flat_amenity_path(flat_amenity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
    </li>
  <% end %>

<%= link_to "Add amenities", new_flat_flat_amenity_path %>
