<div class="amenity-container">
  <h1>Flat Amenities</h1>
  <% if @flat.user == current_user %>
    <%= link_to "Add amenities", new_flat_flat_amenity_path %>
  <% end %>
  <%= link_to "Back to flat", flat_path(@flat) %>
  <% @categorised_flat_amenities.each do |category| %>
    <% unless category.values[0].empty? %>
      <h2 class="amenity-category"><%= category.keys[0] %></h2>
      <% category.values.each do |amenities| %>
        <% amenities.each do |amenity| %>
          <div class="amenity-card">
            <p class="amenity-logo"><%= Amenity.find(amenity.amenity_id).icon.html_safe %></p>
            <p class="amenity-name"><%= Amenity.find(amenity.amenity_id).name %></p>
            <% if @flat.user == current_user %>
              <p class="amenity-delete"><%= link_to "(Delete)", flat_amenity_path(amenity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
