<div class="container mt-5">
  <h1><%= @flat.name %></h1>

  <p>Description: <%= @flat.description %></p>
  <p>Address: <%= @flat.address %></p>
  <p>Price per night: $<%= @flat.price_per_night %></p>
  <p>Number of guests: <%= @flat.number_of_guests %></p>

  <% if policy(@flat).edit? %>
    <%= link_to 'Edit details of this flat', edit_flat_path(@flat) %>
  <% end %>
  <% if policy(@flat).destroy? %>
    <%= link_to 'Delete', flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
  <%= link_to 'Back to all flats', flats_path %>
  <% if @flat.user == current_user %>
    <%= link_to "Add rooms", new_flat_room_path(@flat) %>
  <% end %>
  <hr>
  <% if @flat.user == current_user %>
    <h2>Own Property</h2>
  <% else %>
    <%= render "bookingform", flat: @flat, booking: @booking %>
  <% end %>
</div>
