<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-4">
      <h1 style="text-align: center">Edit Booking</h1>
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :start_date, as: :date, order: [:day, :month, :year], disabled: true %>
          <%= f.input :end_date, as: :date, order: [:day, :month, :year], disabled: true %>
          <%= f.input :number_of_guests, disabled: true %>
          <%= f.input :status, collection: Booking::STATUSES %>
          <%= f.button :submit, class: "btn-ghost" %>
        <% end %>
    </div>
    <div class="col"></div>
</div>
