<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h1>My Bookings</h1>

      <div class="bookmark-cards">
        <% @bookings.each do |booking| %>
          <% if booking.flat.user == current_user || booking.user == current_user %>
            <div class="bookmark-card border-bottom">
              <a href= <%= booking_path(booking) %>><%= cl_image_tag booking.flat.photos.first.key, height: 100, width: 100, crop: :fill, class: "bookmark-card-photo" %></a>

              <div class="bookmark-flat-info">
                <div class="bookmark-flat-name-and-heart">
                  <strong><%= link_to booking.flat.name, booking_path(booking) %></strong>
                </div>
                <p><%= booking.flat.address %></p>
                <div class="booking-flat-details">
                  <% if booking.flat.user == current_user %>
                    <p><b><%= booking.user.first_name %></b>'s booking for your flat is <b><%= booking.status %></b>.</p>
                  <% else %>
                    <p>Your booking for this flat is <b><%= booking.status %></b>.</p>
                  <% end %>
                  <p><b><%= booking.start_date.to_date.strftime("%d %b %Y") %></b> to <b><%= booking.end_date.to_date.strftime("%d %b %Y") %></b></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
