<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalHeader"><i class="fa-solid fa-otter"></i> burrows</h5>
        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">X</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="modal-login">
            <%= f.button :submit, "Log in", class: 'btn-ghost' %>
          </div>
        <% end %>

        <div class="modal-actions">
          <%= render "devise/shared/modal_links" %>
        </div>
      </div>
    </div>
  </div>
</div>
