<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <div class="container mt-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 style="color: darkslategrey"><i class="fa-solid fa-otter"></i> burrows</h3>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Bookings", bookings_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Bookings", "", class: "nav-link", data: {toggle: "modal", target: "#loginModal"} %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Favourites", bookmarks_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Favourites", "", class: "nav-link", data: {toggle: "modal", target: "#loginModal"} %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
              <% else %>
                <%= link_to "Log in", "", class: "nav-link", data: {toggle: "modal", target: "#loginModal"} %>
              <% end %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
