<div class="container">
  <div class="rooms">
    <div class="add-room">
    <h1><%= @flat.name %></h1>
    <h3>Sleeping arrangements</h3>
    <p>Room <%= @flat.rooms.length + 1 %></p>
    <%= simple_form_for ([@flat, @room]) do |f| %>
      <%= f.input :name, label: "Type", as: :radio_buttons, collection: ["Bedroom", "Living Room"] %>
      <%= f.button :submit, class: "btn-ghost"%>
    <% end %>
    <br>
    <%= link_to "+ Add another room", new_flat_room_path(@flat) %>
    </div>

    <div class="existing-rooms-wrapper">
      <h2>Existing rooms</h2>
      <div class="existing-rooms">
        <% @flat.rooms.each do |room| %>
          <div class="room">
            <p><%= room.name %></p>
            </p><%= link_to 'Delete', room_path(room), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
