<div class="container">
    <h1><%= @flat.name %></h1>
    <h3>Sleeping arrangements</h3>
    <p><%= @room.name %></p>
    <%= simple_form_for ([@flat, @room, @bed]) do |f| %>
      <%= f.input :category, as: :check_boxes, collection: Bed::CATEGORIES %>
      <%= f.submit 'Add bed(s) to room', class: "btn-ghost"%>
    <% end %>
</div>
