<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <h1>New review for <%= @booking.flat.name %></h1>
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.label :title, class: 'form-label', hidden: true %>
          <%= f.input_field :title, class: 'form-control mb-2', hidden: true, :value => if @booking.flat.user == current_user
            'renter'
          else
            'owner'
          end  %>
          <%= f.input :content %>
          <%= f.input :rating, label: "Rating", as: :radio_buttons, collection: [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], wrapper_html: { class: 'room-radio-buttons' }, input_html: { class: 'room-radio-button' }  %>
          <br>
          <%= f.submit "Submit review", class: "btn-ghost" %>
          <%= link_to 'Cancel', booking_path(@booking), class: 'btn-ghost' %>
        <% end %>
    </div>
    <div class="col"></div>
</div>
